{% extends "Publish/layout.html.twig" %}

{% block title %}
    Uploader un document - {{ parent() }}
{% endblock %}

{% block content_title %}
    Uploader un document
{% endblock %}

{% block content_bundle %}

    <div class="container">
        <div class="row">
            <div class="col-md-5">
                {{ form_start(form) }}
                    {% for field in form.children if field.vars.name != "_token" %}
                        <div class="form-group">
                            {{ form_label(field) }} <br/>
                            {{ form_errors(field) }}
                            {{ form_widget(field, {'attr': {'class': (field is not iterable ? 'form-control': '')}}) }}
                        </div>
                    {% endfor %}
                    <button type="submit" class="btn btn-warning">Mettre en ligne</button>
                {{ form_end(form) }}
            </div>
            <div class="col-md-7">
                <ul class="list-group" style="width:60%">
                    <li class="list-group-item active flex-fill">Check-liste upload</li>
                    <li class="list-group-item flex-fill">Pagination</li>
                    <li class="list-group-item flex-fill">Sommaire cohérent pour la CE</li>
                    <li class="list-group-item flex-fill">Nom et adresse client/réa OK</li>
                    <li class="list-group-item flex-fill">Date de validité de la CE d'un mois</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    {{ form_javascript(form) }}
{% endblock %}
