{% extends "Publish/layout.html.twig" %}

{% block title %}
    Liste des Documents - {{ parent() }}
{% endblock %}

{% block content_title %}
    Document : <strong>{{ doc.name ? doc.name : "Undefined" }}</strong>
{% endblock %}

{% block content_bundle %}

    <table class="table table-bordered table-striped">
        <tr>
            <th>Champs</th>
            <th>Value</th>
        </tr>
        <tr>
            <td>Auteur</td>
            <td>{{ doc.author ? doc.author.prenomNom : "Undefined" }}</td>
        </tr>
        <tr>
            <td>Size</td>
            <td>{{ (doc.size / 1024) | number_format(2, ',', ' ') }} Ko</td>
        </tr>
        <tr>
            <td>Date</td>
            <td>{{ doc.uptime ? doc.uptime | date('d/m/Y - H:i:s') }}</td>
        </tr>
        <tr>
            <td>Relation</td>
            <td>{{ doc.relation }}</td>
        </tr>
        <tr>
            <td>Membre</td>
            <td>{{ doc.relation.membre ? doc.relation.membre : "Undefined" }}</td>
        </tr>
        <tr>
            <td>Etude</td>
            <td>{{ doc.relation.etude ? doc.relation.etude : "Undefined" }}</td>
        </tr>
    </table>

    <div class="row">
        {% if is_granted('ROLE_SUIVEUR') %}
        <div class="col-md-2 col-xs-4">
            <form action="{{ path('relecture_notify_qualite', {'id': doc.id}) }}" method="post">
                <input class="btn btn-success" type="submit" value="Notifier chargé Qualité"/>
            </form>
        </div>
        {% endif %}
        {% if is_granted('ROLE_QUALITE') %}
        <div class="col-md-2 col-xs-4">
            <form action="{{ path('relecture_notify_etude', {'id': doc.id}) }}" method="post">
                <input class="btn btn-success" type="submit" value="Notifier chargé Étude"/>
            </form>
        </div>
        {% endif %}
    </div>

    <div>
	{% if doc.relation.thread|default('0') %}
	    {% include 'Comment/Thread/async.html.twig' with {'id': doc.relation.thread.id, 'view': 'flat'} %}
	{% endif %}
    </div>
{% endblock %}
