{% extends "Publish/layout.html.twig" %}

{% block title %}
    Liste des Documents - {{ parent() }}
{% endblock %}

{% block content_title %}
    Document : <strong>{{ doc.name ? doc.name : "Undefined" }}</strong>
{% endblock %}

{% block content_bundle %}

    <button class="btn btn-secondary" style="width: 300px;">
        <a href="#" class="list-group-item list-group-item-action active"> <strong>{{ doc.name ? doc.name : "Undefined" }}</strong> </a>
        <a href="#" class="list-group-item list-group-item-action">{{ doc.author ? doc.author.prenomNom : "Undefined" }}</a>
        <a href="#" class="list-group-item list-group-item-action">Taille <span class="badge badge-secondary">{{ (doc.size / 1024) | number_format(2, ',', ' ') }} Ko</span></a>
        <a href="#" class="list-group-item list-group-item-action">Intervenant  <span class="badge badge-secondary">{{ doc.relation.membre ? doc.relation.membre : "Undefined" }}</span></a>
        <a href="#" class="list-group-item list-group-item-action">Date <span class="badge badge-secondary">{{ doc.uptime ? doc.uptime | date('d/m/Y - H:i:s') }}</span></a>
        <a href="#" class="list-group-item list-group-item-action" tabindex="-1" aria-disabled="true">Etude <span class="badge badge-secondary">{{ doc.relation.etude ? doc.relation.etude : "Undefined" }}</span></a>
    </button>

    <div class="btn-group" role="group" aria-label="Basic example">
        {% if is_granted('ROLE_SUIVEUR') %}
            <form action="{{ path('relecture_notify_qualite', {'id': doc.id}) }}" method="post">
                <input class="btn btn-success" type="submit" value="Notifier chargé Qualité"/>
            </form>
            <form action="{{ path('publish_document_download', {'id': doc.id}) }}" method="get">
                <input class="btn btn-success" type="submit" value="Télécharger"/>
            </form>
            <form action="{{ path('publish_document_delete', {'id': doc.id}) }} method="post">
                <input class="btn btn-success" type="submit" value="Supprimer"/>
            </form>
            <form action="{{ path('publish_document_reuploadEtude', {'id': doc.id, 'should_validate': '0'}) }}" method="post">
                <input class="btn btn-success" type="submit" value="Réuploader avec relecture"/>
            </form>
            <form action="{{ path('publish_document_reuploadEtude', {'id': doc.id, 'should_validate': '1'}) }}" method="post">
                <input class="btn btn-success" type="submit" value="Réuploader sans relecture"/>
            </form>
        {% endif %}
        {% if is_granted('ROLE_QUALITE') %}
            <form action="{{ path('relecture_notify_etude', {'id': doc.id}) }}" method="post">
                <input class="btn btn-success" type="submit" value="Notifier chargé Étude"/>
            </form>
        {% endif %}
    </div>
    <div>
    {% if doc.relation.thread|default('0') %}
        {% include 'Comment/Thread/async.html.twig' with {'id': doc.relation.thread.id, 'view': 'flat'} %}
    {% endif %}
    </div>
{% endblock %}
