<nav class="navbar" role="navigation">
    <div class="navbar-header">
			<button type="button" class="navbar-toggle text-black" data-toggle="collapse" data-target=".navbar-suivi">
				<span class="sr-only">Toggle navigation</span>
                <span class="fa fa-bars" ></span>
			</button>
			<span class="navbar-brand">{{ 'suivi.documents_etude'|trans({}, 'project') }}</span>
		</div>
		<div class="collapse navbar-collapse navbar-suivi">
            <ul class="nav  navbar-nav">
                <li><a href="{{ path('publish_document_uploadEtude', {'nom': etude.nom, 'should_validate': '1'}) }}"><span class="fa fa-pencil"></span> {{ 'suivi.document_ajouter'|trans({}, 'project') }} avec relecture</a></li>
                <li><a href="{{ path('publish_document_uploadEtude', {'nom': etude.nom, 'should_validate': '0'}) }}"><span class="fa fa-pencil"></span> {{ 'suivi.document_ajouter'|trans({}, 'project') }} sans relecture</a></li>
            </ul>
    </div>
</nav>

<table class="table table-bordered table-striped">
    <tr>
        <th>{{ 'suivi.titre'|trans({}, 'project') }}</th>
        <th>{{ 'suivi.date_upload'|trans({}, 'project') }}</th>
        <th>{{ 'suivi.intervenants'|trans({}, 'project') }}</th>
        <th>Status</th>
        {% if is_granted('ROLE_SUIVEUR') %}
        <th>{{ 'suivi.action'|trans({}, 'project') }}</th>
        {% endif %}
    </tr>
    {% for relatedDocument in etude.relatedDocuments %}
    {% set doc = relatedDocument.document %}
    <tr>
        <td><a href="{{ path('publish_document_voir', {'id': doc.id}) }} ">{{ doc.name }}</a></td>
        <td>{{ doc.uptime ? doc.uptime | date('d/m/Y - H:i:s')}}</td>
        <td>
	  {% if doc.relation.membre %}
	    <a href="{{ path('personne_membre_voir', {'id': doc.relation.membre.id}) }}">{{ doc.relation.membre }}</a>
	    {% endif %}
	</td>
	<td>
	  {% if doc.relation.status == 0 %}
	    <span class="label label-info">En relecture</span>
	  {% elseif doc.relation.status == 1 %}
	    <span class="label label-warning">A modifier</span>
	  {% elseif doc.relation.status >= 2 %}
	    <span class="label label-success">Validé</span>
	  {% endif %}
	</td>
        {% if is_granted('ROLE_SUIVEUR') %}
          <td>
	    <a title="Supprimer" href="{{ path('publish_document_delete', {'id' : doc.id })  }}">
	    <i class="fa fa-times"></i>
	    </a>
	    <a title="Réuploader sans relecture" href="{{ path('publish_document_reuploadEtude' , {'id' : doc.id, 'should_validate': '0' }) }}">
            <i class="fa fa-cloud-upload"></i>
	    </a>
        <a title="Réuploader avec relecture" href="{{ path('publish_document_reuploadEtude' , {'id' : doc.id, 'should_validate': '1' }) }}">
            <i class="fa fa-cloud-upload"></i>
        </a>
	    <a title="Télécharger" href="{{ path('publish_document_download', {'id' : doc.id }) }}">
	        <i class="fa fa-cloud-download"></i>
	    </a>
	    <a title="Notifier Qualité" href="{{ path('relecture_notify_qualite', {'id' : doc.id }) }}">
	        <i class="fa fas fa-edit"></i>
	    </a>
	      </td>
        {% endif %}
    </tr>
    {% endfor %}

</table>
