{# Page d'accueil de Jeyser  #}
{% extends "Dashboard/layout.html.twig" %}
{% block content_bundle %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-aqua">
                    <div class="inner">
                        <h3>
                            {{ stats.etudes_en_cours ? stats.etudes_en_cours : 0}}
                        </h3>
                        <p>
                            Études en cours
                        </p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-repeat"></i>
                    </div>
                    <a href="{{ path('project_suivi_index') }}" class="small-box-footer">
                        Liste des études
                        <i class="fa fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-red">
                    <div class="inner">
                        <h3>
                            {{ stats.prospects_qualifies ? stats.prospects_qualifies : 0}}
                        </h3>
                        <p>
                            Prospects qualifiés
                        </p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-male"></i>
                    </div>
                    <a href="{{ path('personne_prospect_homepage') }}" class="small-box-footer">
                        Liste des prospects
                        <i class="fa fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-green">
                    <div class="inner">
                        <h3>
                            {{ stats.ca_encours ? stats.ca_encours : 0 }}<sup style="font-size: 20px">&euro;</sup>
                        </h3>
                        <p>
                            CA signé
                        </p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-dollar"></i>
                    </div>
                    <a href="{{ path('project_suivi_index') }}" class="small-box-footer">
                        Liste des études
                        <i class="fa fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-xs-6">
                <div class="small-box bg-yellow">
                    <div class="inner">
                        <h3>
                            {{ stats.ca_paye ? stats.ca_paye : 0 }}<sup style="font-size: 20px">&euro;</sup>
                        </h3>
                        <p>
                            CA réalisé
                        </p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-dollar"></i>
                    </div>
                    <a href="{{ path('project_suivi_index') }}" class="small-box-footer">
                        Liste des études
                        <i class="fa fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div>
{% endblock %}

{% block calendar_bundle %}
    <div class="col-md-12">
        <!-- The calendar -->
        <link rel="stylesheet" href="{{ asset('css/fullcalendar.min.css') }}"/>
        <div id="calendar"></div>
    </div>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('js/fullcalendar/lib/jquery.min.js') }}"></script>
    <!-- <script src="{{ asset('js/fullcalendar/lib/jquery-ui.min.js') }}"></script> -->
    <script src="{{ asset('js/fullcalendar/lib/moment.min.js') }}"></script>
    <script src="{{ asset('js/fullcalendar/fullcalendar.min.js') }}"></script>
    <script src="{{ asset('js/fullcalendar/locale/fr.js') }}"></script>
    <script src="{{ asset('js/fullcalendar/gcal.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#calendar').fullCalendar({
                lang: 'fr',
                firstDay: 1,
                scrollTime: '09:00:00',
                defaultView: 'agendaWeek',
                header: {
                    left: 'month, agendaWeek',
                    center: 'title',
                    right: 'today, prev, next'
                },
                height: 600,
                googleCalendarApiKey: '',
                events: {
                    googleCalendarId: 'aeijeeirb@gmail.com'
                }
            });
        });
    </script>
    {% if is_granted('ROLE_ADMIN') %}
        <!-- Get latest Jeyser CRM release and display an info if a new one is available -->
        <script src="{{ asset('js/versioncompare.js') }}"></script>
        <script type="text/javascript">
            displayVersionMessage();
        </script>
    {% endif %}
{% endblock %}
