<ul class="nav navbar-nav">
    <li class="dropdown user user-menu">
        <a aria-expanded="true" class="dropdown-toggle" data-toggle="dropdown" href="#">
            <i class="fa fa-user"></i>
            <span>{{ app.user.username }}<i class="caret"></i>
            </span>
        </a>
        <ul class="dropdown-menu">
            <!-- User image -->
            <li class="user-header bg-light-blue">
                <img src="{{ asset('logo_aei.png') }}" alt="User Image"/>
                <p>
                    {% if is_granted('ROLE_ADMIN') %}
                        Administrateur
                    {% else %}
                        {{ app.user.getPersonne().getPoste() }}
                        <small>
                            du mandat
                        </small>
                        {{ app.user.personne.membre.promotion }}
                    {% endif %}
                </p>
            </li>
            <li>
                <a href="http://jeyser-crm.n7consulting.fr/docs">
                    <span class="fa fa-tags"></span>
                    {{ 'dashboard.guide_utilisateur'|trans({}, 'dashboard') }}</a>
            </li>
            <!-- Menu Footer-->
            <li class="user-footer">
                <div class="pull-left">
                    <a href="{{ path('fos_user_change_password') }}" class="btn btn-default btn-flat">{{ 'dashboard.motdepasse_modifier'|trans({}, 'dashboard')|raw }}</a>
                </div>
                <div class="pull-right">
                    <a href="{{ path('fos_user_security_logout') }}" class="btn btn-default btn-flat">{{ 'dashboard.deconnexion'|trans({}, 'dashboard') }}</a>
                </div>
            </li>
        </ul>
    </li>
</ul>
